<div class="container">
  <div class="listToDo"></div>
  <h3>ToDo list</h3>
  <ul class="list" style="list-style: none">
    <li *ngFor="let toDo of allToDos">
      <input type="checkbox" /><span> {{ toDo }} </span
      ><button (click)="removeToDo(toDo)">X</button>
    </li>
  </ul>
  <input
    #addNewToDoInput
    [value]="newToDo"
    type="text"
    placeholder="newToDo"
    (input)="onInput(addNewToDoInput.value)"
  />
  <button (click)="addToDo()">Add</button>

  <p *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
